body {
  background-color: #282828;
  font-family: "Roboto", sans-serif;
}

.App {
  max-width: 991px;
  width: 90%;
  margin: auto;
  background-color: #1f1f20;
  border-radius: 5px;
}

.header {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.main__title {
  color: #8cc054;
  margin: 10px 0;
}

.simple__info {
  margin: 0 5px 0 30px;
  color: white;
}

.last_message_info {
  margin: auto 0 auto auto;
}

.last_message_info {
  color: white;
}

.chat {
  background: white;
  display: flex;
  flex-direction: column;
  position: relative;
}

.chat_list {
  padding: 0 10px;
  max-height: 450px;
  overflow-y: scroll;
  background: white;
}

.avatar {
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.chat_message {
  display: flex;
  margin: 20px 0 ;
  width: 70%;
  border-radius: 15px;
  padding: 15px;
  background-color: #e2e2e2;
}

.user_info {
  width: 60%;
  padding: 0 0 0 10px;
}

.item_to_scroll {
  height: 150px;
}

.user_name {
  color: #8cc054;
}

.message_input {
  height: 60px;
  width: 80%;
  border: none;
  color: gray;
  font-size: 20px;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 10px;
  margin-right: 15px;
  outline: none;
}

.form {
  bottom: 0;
  border-radius: 10px;
  display: flex;
  margin: auto;
  align-items: center;
  padding: 9px 0 10px 0px;
  width: 100%;
  background-color: #e2e2e2;
}

.send_button {
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 26px;
  cursor: pointer;
  height: 70px;
  width: 17%;
  background-color: #8cc054;
  transition: all 0.2s ease;
}

.addition_info {
  position: relative;
}

.remove_message {
  display: none;
  position: absolute;
  top: -11px;
  right: -20px;
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: #4b4d4a;
}

.heart_like {
  position: absolute;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.self_user {
  margin: 20px 10px auto auto;
  background-color: #4b4d4a;
  position: relative;
  color: white;
  display: flex;
  width: 70%;
  border-radius: 15px;
  padding: 15px;
}

.self_user .addition_info .remove_message {
  color: white;
}

.chat_message,
.self_user {
  box-shadow: -1px 3px 9px 0px #00000061;
}

.send_button:hover {
  color: #8cc054;
  background: white;
}

.footer {
  padding: 0 0 20px;
}

.footer_menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.copyright {
  text-align: center;
  margin: 0;
  color: white;
}

.footer_menu li {
  margin: 0 20px;
  font-size: 20px;
}

@media (max-width: 1123px) {
  .remove_message {
    top: 10px;
    right: 10px;
    font-size: 10px;
  }

  .addition_info {
    position: static;
  }

  .time_message {
    font-size: 11px;
  }

  .user_info {
    width: 55%;
    position: relative;
  }

  .last_message_info {
    font-size: 10px;
  }
  .user_message {
    font-size: 12px;
  }

  .avatar {
    height: 80px;
    width: 80px;
  }

  .user_name {
    margin: 0;
  }

  .chat_message {
    padding: 10px;
    position: relative;
  }

  .message_input {
    height: 52px;
    width: 75%;
    padding-left: 10px;
    font-size: 16px;
  }

  .send_button {
    border-radius: 13px;
    font-size: 22px;
    height: 54px;
  }

  .heart_like {
    bottom: 6px;
    right: 12px;
  }
}

@media (max-width: 450px) {
  .main__title {
    font-size: 23px;
  }

  .simple__info {
    margin: auto;
    font-size: 10px;
  }

  .last_message_info {
    font-size: 6px;
  }

  .last_message_info {
    display: none;
  }

  .chat_message,
  .self_user {
    width: 80%;
    display: flex;
    position: relative;
  }

  .addition_info {
    position: static;
  }

  .user_info {
    width: 100%;
    padding: 0;
    margin-left: 10px;
  }

  .time_message {
    font-size: 7px;
    position: absolute;
    width: 100%;
    right: -60%;
  }

  .user_message {
    font-size: 7px;
  }

  .avatar {
    height: 40px;
    width: 40px;
  }

  .remove_message {
    top: 10px;
    right: 9px;
  }

  .message_input {
    margin-left: 10px;
    width: auto;
    padding-left: 10px;
  }

  .send_button {
    font-size: 15px;
    width: 27%;
  }

  .heart_like {
    height: 15px;
    width: 15px;
  }
}
